<div class="intro-header main_container" style="background: url(<%= asset_path( 'field.jpg' ) %>) no-repeat fixed; ">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 col-md-offset-0 action_box">
                <div class="intro-message">
                 Switch to 100% Renewable Electricity in minutes 
                </div>
                <form class="form-inline splash_form" action="/electric_packages" method="GET">
                    <div class='form-group'>
                        <input type="text" name="zip_code" id="splash_input" placeholder="Enter Zip" autofocus>
                    </div>
                    <div class="form-group ">
                        <input class='zip_submit btn btn-success' type="submit" id="splash_submit" value="Go Green">
                    </div>
                </form>  
            </div>
        </div>
    </div>
</div>
<!-- /.intro-header -->

<!-- Second Section -->
<div class="what_is_greenir">
    <div class='container'>
        <div class="col-md-7">
            <h1>What Is <span style="color: #4cae4c;">Greenir</span>?</h1>
            <h4>Greenir is a marketplace for 100% renewable electricity packages for your home or apartment. Whether you are a renter or home owner, if you live in a deregulated market, you have the right to choose the energy supplier that powers your home. At Greenir, we believe that people who are educated on their options will switch to renewable electricity and by partnering with the best renewable electricity suppliers in the country, we hope to provide our customers with the opportunity to decrease their carbon footprints and invest in the future of renewable energy.</h4>
        </div>
        <div class="col-md-5" style="margin-top: 20px;">

            <a href="/faq"><h3>Why Should I Switch?</h3></a>
            <a href="/faq"><h3>Which Package Should I Choose?</h3></a>
            <a href="/faq"><h3>Will I Save Money?</h3></a>
            <a href="/faq"><h3>Are The Suppliers Reliable? Will My Power Go Out?</h3></a>

        </div>
    </div>
</div>

<!--  -->


<!-- How it works -->
<div class="second_section">
    <div class="container">
        <div class="row how_it_works">
            How It Works
        </div>
        <h2>You Don't Need A Solar Panel To Run Your Home On Renewable Energy</h2>
        <div class="row" id="pitches">
            <div class="col-md-4 pitch_point">
                <div class="pitch_icon">
                    <img src="<%= asset_path( 'search.png' ) %>">
                </div>
                <div class="pitch_tagline">Search And Review Your Local Renewable Electricity Packages</div>
            </div>
            <div class="col-md-4 pitch_point">
                <div class="pitch_icon">
                    <img src="<%= asset_path( 'select.png' ) %>">
                </div>
                <div class="pitch_tagline">Choose The Package That Fits Your Budget</div>
            </div>
            <div class="col-md-4 pitch_point">
                <div class="pitch_icon">
                    <img src="<%= asset_path( 'turbine.png' ) %>">
                </div>
                <div class="pitch_tagline">Join The Green Energy Movement</div>
            </div>
        </div>
    </div>
</div>
<!-- <hr style="margin:0;"> -->

<div class="third_section">
    <div class="row">
        <div class="col-md-6">
            <h1><img src="<%= asset_path( 'checkmark.png' ) %>">100% Renewable Electricity</h1>
        </div>
        <div class="col-md-6">
            <h1><img src="<%= asset_path( 'checkmark.png' ) %>">No Ineruptions in Service</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h1><img src="<%= asset_path( 'checkmark.png' ) %>">No Installation Fees</h1>
        </div>
        <div class="col-md-6">
            <h1><img src="<%= asset_path( 'checkmark.png' ) %>">No Hidden Fees!</h1>
        </div>
    </div>
        <h2 id="see_more_faq"><a href="/faq">Need More Information? See Our Entire FAQ Page!</a></h2>
</div>