<div class="main_container">
  <div class="container-fluid">
    <div class="electric_packages_big_left col-sm-3">
      <div class="sidebar">
        <div class="sidebar_section_1 sidebar_section col-sm-12">
          <div class="sidebar_title">Section 1?</div>
          <div class="sidebar_items">
            <div class="sidebar_item">
              <label>Some Filter</label>
              <input type="checkbox">
            </div>
            <div class="sidebar_item">
              <label>Another Filter</label>
              <input type="checkbox">
            </div>
            <div class="sidebar_item">
              <label>One More Filter</label>
              <input type="checkbox">
            </div>
            <div class="sidebar_item">
              <label>Last Filter</label>
              <input type="checkbox">
            </div>
          </div>
        </div>
        <div class="sidebar_section_2 sidebar_section col-sm-12">
          <div class="sidebar_title">Section 2?</div>
          <div class="sidebar_items">
            <div class="sidebar_item quad_group">
              <label>Filter #1</label>
              <input type="radio" name="sidebar_radio1">
            </div>
            <div class="sidebar_item quad_group">
              <label>Filter #2</label>
              <input type="radio" name="sidebar_radio1">
            </div>
            <div class="sidebar_item quad_group">
              <label>Filter #3</label>
              <input type="radio" name="sidebar_radio1">
            </div>
            <div class="sidebar_item quad_group">
              <label>Filter #4</label>
              <input type="radio" name="sidebar_radio1">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="electric_packages_big_right col-sm-9">
      <div class="big_text">Green Electricity Options For: <%= @zip_code %> <a style="font-size: .5em;" href="/">change zip</a></div>
      <div><a href="#">Not Sure If You Want A Fix Or Variable Package? Read Our Blog Post!</a></div>
      <div class="row electric_packages">
        <% @electric_packages.each do |package| %>
        <div class="col-md-12 col-sm-12 col-xs-12 electric_package">
          <div class="row electric_package_top">
            <div class="electric_package_items_left col-md-4">
              <div class="electric_package_image"><img src="<%= package.provider.logo %>" /></div>
              <div class="electric_package_name electric_package_datapoint"><%= package.name %></div>
              <!-- <div class="electric_package_plan_type electric_package_datapoint">Plan Type: <span style="text-transform: uppercase;"><%= package.plan_type %></span></div>
              <div class="electric_package_description electric_package_datapoint">Description: <%= package.description %></div> -->
            </div>
            <div class="electric_package_items_right col-md-4">
              <div class="electric_package_plan_type electric_package_datapoint">Plan Type: <span style="text-transform: uppercase;"><%= package.plan_type %></span></div>
              <div class="electric_package_description electric_package_datapoint">Description: <%= package.description %></div>
            </div>
            <div class="electric_package_items_right col-md-4">
              <div class="electric_package_price electric_package_datapoint"><%= package.price %> <span class='units'>Kw/H</span></div>
               <a href="/electric_packages/checkout/<%= package.id %>">
                <button class="btn btn-warning">Choose Package</button>
              </a>
            </div>
          </div>
          <!-- <div class="row electric_package_actions"> -->
            <!-- <div class="col-xs-6 choose_package">
              <a href="/electric_packages/<%= package.id %>">
                <button class="btn btn-warning">Choose Package</button>
              </a>
            </div> -->
            <!-- <div class="energy_images col-xs-5 col-xs-offset-1">
              <img class="energy_badge" src="/assets/windmill.png">
              <img class="energy_badge" src="/assets/sun.png">
              <img class="energy_badge" src="/assets/hydro.png">
            </div> -->
          <!-- </div> -->
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
$(function(){
  darkHeader();
})
</script>