<!-- .intro-header -->
	<div class="faq_header">
		<div class="intro-header main_container faq_splash" style="background: url(<%= asset_path( 'field.jpg' ) %>) no-repeat fixed;  ">
		    <div class="container">
		        <div class="row">
		         <h1 class="faq_title">Checkout</h1>
		        </div>
		    </div>
		</div>
	</div>
<!-- /.intro-header -->
<div class="checkout">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<table class="table">
				<tr>
					<td class='your_selection'>You have selected <a href="#"><%= @electric_package.name %></a></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td><img src="<%= @electric_package.provider.logo %>"></td>
					<td>Provider: <%= @electric_package.provider.name %> <br>
						Energy Source: <%= @electric_package.percent_renewable %><br>
						Cancellation Fee: <%= @electric_package.cancellation_fee %>
					</td>
					<td>Price: <%= @electric_package.price %><br>
						Duration: <%= @electric_package.duration %> Months<br></td>
				</tr>

			</table>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>


<div class="sign_up_form">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">

			<h1>Sign Up</h1>

			 <%= form_for(@user) do |f| %>

				<div class="form-group">
			      <%= f.label :name %>
			      <%= f.text_field :name, :class => "form-control" %>
			  	</div>

			  	<div class="form-group">
			      <%= f.label :email %>
			      <%= f.text_field :email, :class => "form-control" %>
			  	</div>	

			  	<div class="form-group">
			      <%= f.label :address_1 %>
			      <%= f.text_field :address_1, :class => "form-control" %>
				</div>
				
				<div class="form-group">
			      <%= f.label :address_2 %>
			      <%= f.text_field :address_2, :class => "form-control" %>
				</div>
			 	
			 	<div class="form-group">
			      <%= f.label :city %>
			      <%= f.text_field :city, :class => "form-control" %>
				</div>
				
				<div class="form-group">
			      <%= f.label :zip %>
			      <%= f.text_field :zip, :class => "form-control" %>
				</div>
				
				<div class="form-group">
			      <%= f.label :lease_termination_date, "If you are a renter, when is your lease over?" %>
			      <%= f.text_field :lease_termination_date, :class => "form-control", placeholder: "m/dd/yy" %>
				</div>

				<%= f.hidden_field :package_id, :value => @electric_package.id %>
				
				<div class="form-group">
			      <%= f.label :con_ed_id, "sdfdsf" %>
			      <%= f.text_field :con_ed_id, :class => "form-control" %>
			      <a data-toggle="modal" data-target="#myModal">If you do not know your or do not have your electricity account number on you, click here</a>
				</div>
			      <%= f.submit "Go Green!", class: "btn btn-success user_submit" %>
			    <% end %>

			<p>*Please note, by submitting your information to Greenir, your information will be passed along to the energy supplier of your choice. Your new supplier will reach out regarding your account and billing information</p>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>


<!-- Modal Forgot ConEd Number-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="myModalLabel">Con Ed Account Number</h3>
      </div>
      <div class="modal-body">
        	<p style="font-size: 17px;">Can't remember or don't know where to find your Con Ed account number? We're more than happy to help out! If you drop your email in below, we'll send you a brief email about where to find your Con Ed account number so you can continue the sign up process later.</p>
            <form action="/user_emails" method="post" id="new_user_email">
                <div class="input-group">
					<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
					<input id="user_email_email" name="user_email[email]" type="email" class="form-control" placeholder="you@email.com">
					<input name='current_page' id="current_page" type='hidden' value='<%= @electric_package.id%>'>
				</div>
                <br />
                <button type="submit" class="btn btn-success"><i class="fa fa-share"></i>Remind Me Later</button>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
	</div>
</div>



