
<section id="labels">
  <div class="container">
    <div class="row">
         <h1 class="intro">Most Affordable Renewable Energy Packages For: <%= @zip_code %> <a href="#" class="">Click here to see all of your options</a></h1>
        <h1>Your Best Variable Rate Packages <span class="current_price">Current Price: <a class="price" data-toggle="tooltip" data-placement="left" title="Tooltip on left">15.9¢</a></span></h1>
    </div>
      <div class="row">
        <% @electric_packages_variable.each do |package| %>
            <div class="col-sm-6 col-md-4">
              <div class="dl">
                <div class="brand">
                   <img src="<%= package.provider.logo %>" />
                   <h3><%= package.percent_renewable %></h3>
                   <h4><%= package.terms %></h4>
                </div>
                <div class="discount alizarin">
                    <%= package.price %> <span class="kwh">per kwh</span>
                </div>
                <div class="descr">
                    <strong>
                        <%= package.description %> 
                    </strong> 
                </div>
                <a href="/electric_packages/checkout/<%= package.id %>">
                    <div class="coupon midnight-blue">
                    Choose Package
                    </div>
                </a>
              </div>
            </div>

            <% end %>
      </div>
      <hr />
  </div>



  <div class="container">
    <div class="row">
         <h1>Your Best Fixed Rate Packages</h1>
    </div>
      <div class="row">
        <% @electric_packages_fixed.each do |package| %>
            <div class="col-sm-6 col-md-4">
              <div class="dl">
                <div class="brand">
                   <img src="<%= package.provider.logo %>" />
                   <h3><%= package.percent_renewable %></h3>
                    <h4><%= package.terms %></h4>
                </div>
                <div class="discount alizarin">
                    <%= package.price %> <span class="kwh">per kwh</span>
                </div>
                <div class="descr">
                    <strong>
                        <%= package.description %> 
                    </strong> 
                </div>
                <a href="/electric_packages/checkout/<%= package.id %>" class="choose_package">
                    <div class="coupon midnight-blue">
                    Choose Package
                    </div>
                </a>
              </div>
            </div>

            <% end %>
      </div>
  </div>
</section>

<a href="http://ctt.ec/a8c8c" target="_blank">Tweet: I just switched to renewable energy and you can to! http://ctt.ec/a8c8c+ #GetGreenir</a>
<script type="text/javascript">$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})</script>