

<h2><%= @electric_package.name %></h2>
<div><%= @electric_package.description %></div>
<div><%= @electric_package.terms %></div>
<div><%= @electric_package.plan_type %></div>
<div><%= @electric_package.price %></div>
<div><%= @electric_package.percent_renewable %></div>
<div><%= @electric_package.duration %></div>
<div><%= @electric_package.provider_id %></div>
<div><%= @electric_package.sales_id %></div>
<div><%= @electric_package.cancellation_fee %></div>
<table class="table">
	<tr>
		<td><%= @electric_package.name %></td>
		<td><%= @electric_package.description %></td>
		<td>test</td>
	</tr>
</table>