<!DOCTYPE html>
<html>
<head>
  <title>Greenir</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/ico" href="<%= asset_path( 'greenir_without_tree.jpg' ) %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- SumoMe Code -->
  <script src="//load.sumome.com/" data-sumo-site-id="bfe9c0cf729c0949e69e4bb553d2e27a40dfaebe84de0baffc349d5a20bf3081" async></script>
  <!-- End SumoMe Code -->

  <!-- Meta Data Section -->

  <!-- Place this data between the <head> tags of your website -->
  <meta name="description" content="Renewable electricity for your home or apartment in minutes" />

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="Renewable electricity for your home or apartment in minutes">
  <meta name="twitter:site" content="@get_greenir">
  <meta name="twitter:title" content="Greenir">
  <meta name="twitter:description" content="Renewable electricity for your home or apartment in minutes">
  <meta name="twitter:creator" content="@get_greenir">
  
   <!-- Twitter Summary card images must be at least 120x120px  -->
  <meta name="twitter:image" content="http://www.getgreenir.com/assets/greenir_social-3bd1554b88b1b95ac29eff9a22e1ae88.png">

  <!-- Open Graph data -->
  <meta property="og:title" content="Greenir - Power Your Home With Renewable Electricity In Minutes" />
  <meta property="og:url" content= "<%= request.original_url.to_s  %>" >
  <meta property="og:image" content="http://www.getgreenir.com/assets/wind_turbine-9c000cc789f963f73302a0b24de9f46c.jpg" />
  <meta property="og:description" content="Greenir provides you with your local renewable electricity options and allows you to switch to green energy without billing or service changes" /> 
  <meta property="og:site_name" content="Greenir" />


  <!-- End Meta Data -->
</head>
<body>
  <!-- Navigation -->

    <div class="navbar navbar-default custom navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img class='logo' src="<%= asset_path( 'greenir_without_tree.jpg' ) %>"> Greenir
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/faq">FAQ</a> </li>
            <li><a style="background-color: #428bca; color: white" href="mailto:support@getgreenir.com?Subject=Help%20With%20Greenir">Questions?</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


<%= yield %>

<% if controller.controller_name == "not_availables" || controller.controller_name == "prelaunches" %>
<% else %>

<%= render "layouts/footer" %>
<% end %>


<!-- <hr /> -->

<!-- <div class="container">
  <div class="text-right center-block">
    <a href="https://www.facebook.com/bootsnipp"><i id="social" class="fa fa-facebook-square fa-3x social-fb"></i></a>
    <a href="https://twitter.com/bootsnipp"><i id="social" class="fa fa-twitter-square fa-3x social-tw"></i></a>
    <a href="https://plus.google.com/+Bootsnipp-page"><i id="social" class="fa fa-google-plus-square fa-3x social-gp"></i></a>
    <a href="mailto:bootsnipp@gmail.com"><i id="social" class="fa fa-envelope-square fa-3x social-em"></i></a>
  </div>

</div> -->





<!-- Google Analytics Start -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53028102-2', 'auto');
  ga('send', 'pageview');

</script>
<!-- Google Analytics End -->

<!-- Start Purechat Script -->



</body>
</html>
